<!-- filepath: c:\Users\Gabii\Desktop\CursoBackend1\src\views\index.handlebars -->

<h1>{{title}}</h1>

<p>¡Funciona Handlebars!</p>
<p>Bienvenido al servidor de productos y carritos</p>
<p>Utiliza las rutas /api/products o /api/carts para interactuar con la API</p>

